{% extends "../../partials/form-layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
      <h1 class="govuk-heading-l">You do not have access to view this order</h1>

      <p class="govuk-body">
	Access is restricted to some orders.
      </p>
	
      {{ govukButton({
        text: "Go back to the start",
	href: "/"
      }) }}
{% endblock %}
