{% extends "../../partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">Sorry, there is a problem with the service</h1>

      <p class="govuk-body">We've saved your application in draft.</p>

      <p class="govuk-body">
        Go back and try again.
      </p>
     <h2 class="govuk-heading-m">If this issue persists and you have an urgent order</h2>
      <p class="govuk-body">If you need to request installation, removal, or changes to an Electronic Monitoring device within the next 48 hours, contact the EM Order Support Team at <a href="mailto:digitalmonitoringqueries@justice.gov.uk">digitalmonitoringqueries@justice.gov.uk</a>, message them on the EM Order Support Teams Channel, or use the <a href="https://forms.office.com/pages/responsepage.aspx?id=KEeHxuZx_kGp4S6MNndq2Pc7FlOdpUVPgGL69_jGrwZURFBaMlIxSU02VTVXQlZXMVc1UDhVWFlEOS4u&route=shorturl" id="report-a-problem-form" target="_blank" rel="noopener noreferrer" class="govuk-link">Report a problem</a> form.</p>
    </div>
  </div>
{% endblock %}
