{% from "govuk/components/input/macro.njk" import govukInput %}

{% macro addressInput(input) %}
  <div id="{{input.id}}-form" class="govuk-form-group{% if input.errorMessage %} govuk-form-group--error{% endif %}">
      <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">{{ input.label }}</legend>
          {% if input.hint %}<div class="govuk-hint">{{ input.hint }}</div>{% endif %}
          {% if input.errorMessage %}<div class="govuk-error-message" id="{{input.id}}-error">{{ input.errorMessage.text }}</div>{% endif %}

        {{ govukInput({
            label: {
                text: "Address line 1"
            },
            classes: "govuk-!-width-one-half",
            id: "addressLine1",
            name: "addressLine1",
            value: input.value.addressLine1,
            errorMessage: input.errors.addressLine1,
            disabled: input.disabled
        }) }}

        {{ govukInput({
            label: {
                text: "Address line 2 (optional)"
            },
            classes: "govuk-!-width-one-half",
            id: "addressLine2",
            name: "addressLine2",
            value: input.value.addressLine2,
            errorMessage: input.errors.addressLine2,
            disabled: input.disabled
        }) }}

        {{ govukInput({
            label: {
                text: "Town or city"
            },
            classes: "govuk-!-width-one-half",
            id: "addressLine3",
            name: "addressLine3",
            value: input.value.addressLine3,
            errorMessage: input.errors.addressLine3,
            disabled: input.disabled
        }) }}

        {{ govukInput({
            label: {
                text: "County (optional)"
            },
            classes: "govuk-!-width-one-half",
            id: "addressLine4",
            name: "addressLine4",
            value: input.value.addressLine4,
            errorMessage: input.errors.addressLine4,
            disabled: input.disabled
        }) }}

        {{ govukInput({
            label: {
                text: "Postcode"
            },
            classes: "govuk-input--width-10",
            id: "postcode",
            name: "postcode",
            value: input.value.postcode,
            errorMessage: input.errors.postcode,
            disabled: input.disabled
        }) }}

      </fieldset>
  </div>
{% endmacro %}
