{% set htmlClasses = 'govuk-template-no-backgroud-color' %}

{% extends "govuk/template.njk" %}
{% block head %}
  <link href="index.css" rel="stylesheet" />
    <link href="{{ '/assets/css/app.css' | assetMap }}" rel="stylesheet"/>
{% endblock %}

{% block header %}

{% endblock %}

{% block bodyStart %}
{% endblock %}

{% block footer %}

{% endblock %}