{% extends "../../../partials/layout.njk" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}

{% block beforeContent %}
    {{ govukBackLink({
    text: "Back",
    href: "/order/" + order.id + "/edit"
  }) }}
{% endblock %}

{% block content %}{% endblock %}