{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../partials/dateTimeInput.njk" import dateTimeInput %}
{% set section = content.pages.alcohol.section %}
{% set heading = content.pages.alcohol.title %}
{% set legend = content.pages.alcohol.legend %}
{% set helpText = content.pages.alcohol.helpText %}

{% block formInputs %}

  {{ govukRadios({
    name: "monitoringType",
    fieldset: {
        legend: {
        text: content.pages.alcohol.questions.monitoringType.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
        }
    },
    hint: {
        text: content.pages.alcohol.questions.monitoringType.hint
    },
    items: [
      {
        value: "ALCOHOL_LEVEL",
        text: "Alcohol level",
        disabled: not isOrderEditable
      },
      {
        value: "ALCOHOL_ABSTINENCE",
        text: "Alcohol abstinence",
        disabled: not isOrderEditable
      }
    ],
    value: monitoringType.value,
    errorMessage: monitoringType.error
  }) }}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

   {{dateTimeInput({
      id: "startDate",
      name: "startDate",
      date: startDate.value,
      dateLabel:  content.pages.alcohol.questions.startDate.text,
      dateHint: content.pages.alcohol.questions.startDate.hint,
      errorMessages: {
        field: startDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: false,
      defaultHours: "00",
      defaultMinutes: "00"
    })}}
 
{{dateTimeInput({
      id: "endDate",
      name: "endDate",
      date: endDate.value,
      dateLabel:  content.pages.alcohol.questions.endDate.text,
      dateHint: content.pages.alcohol.questions.endDate.hint,
      errorMessages: {
        field: endDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: false,
      defaultHours: 23,
      defaultMinutes: 59
    })}}
 

  {% set probationHtml %}
    {{ govukInput({
      id: "probationOfficeName",
      name: "probationOfficeName",
      type: "text",
      classes: "govuk-!-width-one-third",
      label: {
        text: content.pages.alcohol.questions.probationOfficeName.text
      },
      disabled: not isOrderEditable,
      value: probationOfficeName.value,
      errorMessage: probationOfficeName.error
    }) }}
  {% endset -%}

  {% set prisonHtml %}
    {{ govukInput({
      id: "prisonName",
      name: "prisonName",
      type: "text",
      classes: "govuk-!-width-one-third",
      label: {
        text: content.pages.alcohol.questions.prisonName.text
      },
      disabled: not isOrderEditable,
      value: prisonName.value,
      errorMessage: prisonName.error
    }) }}
  {% endset -%}

{% endblock %}
