{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "../../../partials/timeSpanInput.njk" import timeSpanInput %}
{% from "../../../partials/timeInput.njk" import timeInput %}

{% set section = content.pages.curfewReleaseDate.section %}
{% set heading = content.pages.curfewReleaseDate.title %}
{% set legend = content.pages.curfewReleaseDate.legend %}
{% set helpText = content.pages.curfewReleaseDate.helpText %}
{% set questions = content.pages.curfewReleaseDate.questions %}
{% block formInputs %}

{% set disabled = {} if isOrderEditable else { disabled:true } %}

{{ timeInput({
      label: questions.startTime.text,
      hint: questions.startTime.hint,
      id: "curfewTimes-start",
      name: "curfewTimesStart",
      value: curfewStartTime.value,
      errorMessage: curfewStartTime.error,
      disabled: not isOrderEditable
    }) }}

  {{ timeInput({
      label: questions.endTime.text,
      hint: questions.endTime.hint,
      id: "curfewTimes-end",
      name: "curfewTimesEnd",
      value: curfewEndTime.value,
      errorMessage: curfewEndTime.error,
      disabled: not isOrderEditable
    }) }}

{% endblock %}
