{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/textarea/macro.njk" import govukTextarea %}

{% set section = content.pages.curfewAdditionalDetails.section %}
{% set heading = content.pages.curfewAdditionalDetails.title %}
{% set questions = content.pages.curfewAdditionalDetails.questions %}
{% block formInputs %}

  <p>The standard curfew address boundary is “front door to back door” and does not include garden or adjoining areas. Occasionally there will be a need to extend the range.</p>

  <p>Where a need for extending the range has been identified it must be agreed by the decision-maker's within the organisation. For example, the probation officer and their manager.</p>

  {% set disabled = {}
  if isOrderEditable else {
    disabled : true
  }
 %}

  {% set detailsHtml %}
  {{ govukTextarea({
  name: "details",
  id: "additional-details",
  label: {
    text: questions.curfewAdditionalDetails.text
  },
  hint: {
    text: questions.curfewAdditionalDetails.hint
  }
}) }}
  {% endset -%}

  {{ govukRadios({
  name: "details",
  fieldset: {
    legend: {
      text: questions.provideDetails.text,
      isPageHeading: true,
      classes: "govuk-fieldset__legend--s"
    }
  },
  items: [
    {
      value: "yes",
      text: "Yes",
      checked: true,
      conditional: {
        html: detailsHtml
      }
    },
    { 
      value: "no",
      text: "No"
    }
  ]
}) }}

{% endblock %}