{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Monitoring conditions - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Monitoring conditions" %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../partials/timeInput.njk" import timeInput %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: "When should the monitoring take place",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

    {{ govukDateInput({
      id: "startDate",
      fieldset: {
        legend: {
          text: "Enter the date for when monitoring starts",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2032"
      },
      items: [
        {
          name: "startDate[day]",
          classes: "govuk-input--width-2",
          label: "Day",
          value: startDate.day,
          disabled: not isOrderEditable
        },
        {
          name: "startDate[month]",
          classes: "govuk-input--width-2",
          label: "Month",
          value: startDate.month,
          disabled: not isOrderEditable
        },
        {
          name: "startDate[year]",
          classes: "govuk-input--width-4",
          label: "Year",
          value: startDate.year,
          disabled: not isOrderEditable
        }
      ],
      errorMessage: errors.startDate
    }) }}

    {{ govukInput({
      label: {
        text: "Start Hours"
      },
      classes: "govuk-input--width-10",
      id: "startHours",
      name: "startDate[hours]",
      value: startDate.hours,
      errorMessage: errors.startHours,
      disabled: not isOrderEditable
    }) }}
    
        {{ govukInput({
      label: {
        text: "Start Minutes"
      },
      classes: "govuk-input--width-10",
      id: "startMinutes",
      name: "startDate[minutes]",
      value: startDate.minutes,
      errorMessage: errors.startMinutes,
      disabled: not isOrderEditable
    }) }}


    {{ govukDateInput({
      id: "endDate",
      fieldset: {
        legend: {
          text: "Enter the date for when monitoring ends (optional)",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "For example, 21 05 2032"
      },
      items: [
        {
          name: "endDate[day]",
          label: "Day",
          classes: "govuk-input--width-2",
          value: endDate.day,
          disabled: not isOrderEditable
        },
        {
          name: "endDate[month]",
          label: "Month",
          classes: "govuk-input--width-2",
          value: endDate.month,
          disabled: not isOrderEditable
        },
        {
          name: "endDate[year]",
          label: "Year",
          classes: "govuk-input--width-4",
          value:endDate.year,
          disabled: not isOrderEditable
        }
      ],
      errorMessage: errors.endDate
    }) }}

        {{ govukInput({
      label: {
        text: "End Hours"
      },
      classes: "govuk-input--width-10",
      id: "endHours",
      name: "endDate[hours]",
      value: endDate.hours,
      errorMessage: errors.endHours,
      disabled: not isOrderEditable
    }) }}
    
        {{ govukInput({
      label: {
        text: "End Minutes"
      },
      classes: "govuk-input--width-10",
      id: "endMinutes",
      name: "endDate[minutes]",
      value: endDate.minutes,
      errorMessage: errors.endMinutes,
      disabled: not isOrderEditable
    }) }}

  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Order information",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukSelect({
      id: "orderType",
      name: "orderType",
      label: {
        text: "Select order type"
      },
      items: [
        { text: 'Select', value: '' },
        { text: 'Civil', value: 'civil' },
        { text: 'Community', value: 'community' },
        { text: 'Immigration', value: 'immigration' },
        { text: 'Post Release', value: 'post_release' },
        { text: 'Pre-Trial', value: 'pre_trial' },
        { text: 'Special', value: 'special' }
      ],
      value: orderType,
      errorMessage: errors.orderType,
      disabled: not isOrderEditable
    }) }}

    {{ govukSelect({
      id: "orderTypeDescription",
      name: "orderTypeDescription",
      label: {
        text: "Select order type description (optional)"
      },
      items: [
        { text: 'Select', value: '' },
        { text: 'DAPO', value: 'DAPO' },
        { text: 'DAPOL', value: 'DAPOL' },
        { text: 'DAPOL HDC', value: 'DAPOL_HDC' },
        { text: 'GPS Acquisitive Crime HDC', value: 'GPS_ACQUISITIVE_CRIME_HDC' },
        { text: 'GPS Acquisitive Crime Parole', value: 'GPS_ACQUISITIVE_CRIME_PAROLE' }
      ],
      value: orderTypeDescription,
      errorMessage: errors.orderTypeDescription,
      disabled: not isOrderEditable
    }) }}

    {{ govukSelect({
      id: "conditionType",
      name: "conditionType",
      label: {
        text: "Select condition type"
      },
      items: [
        { text: 'Select', value: '' },
        { text: 'Requirement of a Community Order', value: 'REQUIREMENT_OF_A_COMMUNITY_ORDER' },
        { text: 'License Condition of a Custodial Order', value: 'LICENSE_CONDITION_OF_A_CUSTODIAL_ORDER' },
        { text: 'Post-Sentence Supervision Requirement following on from an Adult Custody order', value: 'POST_SENTENCE_SUPERVISION_REQUIREMENT' },
        { text: 'Bail Order', value: 'BAIL_ORDER' }
      ],
      value: conditionType,
      errorMessage: errors.conditionType,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Monitoring required",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukCheckboxes({
      name: "monitoringRequired",
      fieldset: {
        legend: {
          text: "What monitoring does the device wearer need?"
        }
      },
      hint: {
        text: "Select all that apply."
      },
      items: [
        {
          value: "curfew",
          text: "Curfew with electronic monitoring",
          hint: {
            text: "The device wearer must stay inside an address at specific times during the day and night."
          },
          checked: monitoringRequired | select("equalto", "curfew") | length,
          disabled: not isOrderEditable
        },
        {
          value: "exclusionZone",
          text: "Exclusion and inclusion zone monitoring",
          hint: {
            text: "The device wearer must not enter identified areas or can only enter identified areas at specified times."
          },
          checked: monitoringRequired | select("equalto", "exclusionZone") | length,
          disabled: not isOrderEditable
        },
        {
          value: "trail",
          text: "Trail monitoring",
          hint: {
            text: "GPS tracking will record the movements of the device wearer throughout the day. Must be monitored if the device wearer is part of the Acquisitive Crime Project."
          },
          checked: monitoringRequired | select("equalto", "trail") | length,
          disabled: not isOrderEditable
        },
        {
          value: "mandatoryAttendance",
          text: "Mandatory attendance monitoring",
          hint: {
            text: "Attendance of the device wearer at appointments is monitored."
          },
          checked: monitoringRequired | select("equalto", "mandatoryAttendance") | length,
          disabled: not isOrderEditable
        },
        {
          value: "alcohol",
          text: "Alcohol monitoring",
          hint: {
            text: "The device wearer's levels of alcohol or abstinence from alcohol is monitored."
          },
          checked: monitoringRequired | select("equalto", "alcohol") | length,
          disabled: not isOrderEditable
        }
      ],
      errorMessage: errors.monitoringRequired,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

{% endblock %}
