{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../partials/dateTimeInput.njk" import dateTimeInput %}
{% set section = content.pages.installationAppointment.section %}
{% set heading = content.pages.installationAppointment.title %}
{% set legend = content.pages.installationAppointment.legend %}
{% set helpText = content.pages.installationAppointment.helpText %}
{% set questions = content.pages.installationAppointment.questions %}
{% set appointmentTimeLabel = "What is the preferred time for installation to take place?" if isHomeOffice else questions.appointmentTime.text %}
{% set appointmentTimeHint = "If the installation can't be done at this time, it will happen during standard hours. Enter time using a 24 hour clock. For example, enter 14:30 instead of 2:30pm" if isHomeOffice else questions.appointmentTime.hint %}
{% set questions = content.pages.installationAppointment.questions %}
{% block formInputs %}

{{ govukInput({
      label: {
        text: questions.placeName.text,       
        classes: "govuk-fieldset__legend--s"
      },
       hint: {
          text: questions.placeName.hint
      },
      classes: "govuk-input--width-10",
      id: "placeName",
      name: "placeName",
      value: placeName.value,
      errorMessage: placeName.error,
      disabled: not isOrderEditable
    }) }}

{{dateTimeInput({
      id: "appointmentDate",
      name: "appointmentDate",
      date: appointmentDate.value,
      dateLabel:  questions.appointmentDate.text,
      dateHint: questions.appointmentDate.hint,
      timeLabel: appointmentTimeLabel,
      timeHint: appointmentTimeHint,
      errorMessages: {
        date: appointmentDate.dateError,
        time: appointmentDate.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: true     
    })}}
{% endblock %}
