{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set section = content.pages.installationLocation.section %}
{% set heading = content.pages.installationLocation.title %}
{% set legend = content.pages.installationLocation.legend %}
{% set helpText = content.pages.installationLocation.helpText %}
{% set questions = content.pages.installationLocation.questions %}

{% block formInputs %}
  {% set hintHtml %}
    {% if pilotPrison %}
      {% if not fixedAddressExist %}
        If the device wearer has no fixed address they are out of scope of the install at source pilot. The normal business process should be followed and installation of the tag should be at the probation office. For guidance, refer to the <a class="govuk-link" href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/faq.html#install-at-source-pilot" target="_blank">Help Guide (opens in new tab)</a>.
      {% elif fixedAddressExist %}
        Installation can't take place at the prison for some orders. For guidance, refer to the <a class="govuk-link" href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/faq.html#install-at-source-pilot" target="_blank">Help Guide (opens in new tab)</a>.
      {% endif %}
    {% endif %}
  {% endset %}

  {% set items =[
        {
          value: "PRIMARY",
          text: "Device wearer has no fixed address" if not primaryAddressView.value else primaryAddressView.value,
          disabled: not isOrderEditable or not primaryAddressView.value
        },
        {
          value: "PRISON",
          text: "At a prison",
          disabled: not isOrderEditable
        },
        {
          value: "PROBATION_OFFICE",
          text: "At a probation office",
          disabled: not isOrderEditable 
        }                
    ] %}
  {{ govukRadios({
    name: "location",
    fieldset: {
      legend: {
        text: questions.location.text,
        isPageHeading: true,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      html: hintHtml
    },
    items: items,
    value: location.value,
    errorMessage: location.error
  }) }}
{% endblock %}