{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "../../../partials/dateTimeInput.njk" import dateTimeInput %}
{% from "govuk/components/character-count/macro.njk" import govukCharacterCount %}
{% set section = content.pages.installationAppointment.section %}
{% set heading = content.pages.installationAppointment.title %}
{% set legend = content.pages.installationAppointment.legend %}
{% set helpText = content.pages.installationAppointment.helpText %}
{% set questions = content.pages.installationAppointment.questions %}
{% block formInputs %}

{{ govukInput({
      label: {
        text: questions.placeName.text,       
        classes: "govuk-fieldset__legend--s"
      },
       hint: {
          text: questions.placeName.hint
      },
      classes: "govuk-input--width-10",
      id: "placeName",
      name: "placeName",
      value: placeName.value,
      errorMessage: placeName.error,
      disabled: not isOrderEditable
    }) }}


{{dateTimeInput({
      id: "appointmentDate",
      name: "appointmentDate",
      date: appointmentDate.value,
      dateLabel:  questions.appointmentDate.text,
      dateHint: questions.appointmentDate.hint,
      timeLabel: appointmentTimeLabel,
      timeHint: appointmentTimeHint,
      errorMessages: {
        date: appointmentDate.dateError,
        time: appointmentDate.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: true     
    })}}
          {% if showAppointmentTimeDetails %}
  {% set attributes = { disabled: "disabled" } if not isOrderEditable else { } %}
    {{ govukCharacterCount({
    name: "appointmentTimeDetails",
    id: "appointmentTimeDetails",
    maxlength: 1000,
    value: appointmentTimeDetails.value,
    errorMessage: appointmentTimeDetails.error,
    label: {
      text: questions.appointmentTimeDetails.text,
      classes: "govuk-label--s"
    },
    hint: {
      html: questions.appointmentTimeDetails.hint
    },
    attributes: attributes
  }) }}
    {% endif %}
{% endblock %}
