{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% set section = content.pages.installationAppointment.section %}
{% set heading = content.pages.installationAppointment.title %}
{% set legend = content.pages.installationAppointment.legend %}
{% set helpText = content.pages.installationAppointment.helpText %}
{% set questions = content.pages.installationAppointment.questions %}
{% block formInputs %}

{% endblock %}