{% extends "../../../partials/form-layout.njk" %}
{% from "../../../partials/dateTimeInput.njk" import dateTimeInput %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = content.pages.trailMonitoring.section %}
{% set heading = content.pages.trailMonitoring.title %}
{% set legend = content.pages.trailMonitoring.legend %}
{% set helpText = content.pages.trailMonitoring.helpText %}
{% set questions = content.pages.trailMonitoring.questions %}
{% block formInputs %}

  {% set disabled = {} if isOrderEditable else { disabled:true } %}

  {{dateTimeInput({
      id: "startDate",
      name: "startDate",
      date: startDate.value,
      dateLabel:  questions.startDate.text,
      dateHint: questions.startDate.hint,
      errorMessages: {
        field: startDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: false,
      defaultHours: "00",
      defaultMinutes: "00"
    })}}

  
  {%set endDateQuestion = questions.endDate.text %}
  {% if notifyingOrganisation == 'HOME_OFFICE' %}
    {% set endDateQuestion = endDateQuestion + ' (optional)' %}
  {% endif %}

  {{dateTimeInput({
      id: "endDate",
      name: "endDate",
      date: endDate.value,
      dateLabel:  endDateQuestion,
      dateHint: questions.endDate.hint,
      errorMessages: {
        field: endDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: false,
      defaultHours: 23,
      defaultMinutes: 59
    })}}

    {% if notifyingOrganisation == 'HOME_OFFICE' %}
      {{ govukRadios({
        name: "deviceType",
        fieldset: {
          legend: {
            text: questions.deviceType.text,
            classes: "govuk-fieldset__legend--s"
          }
        },
        items: [
          {
            value: "FITTED",
            text: "A fitted GPS tag",
            disabled: not isOrderEditable
          },
          {
            value: "NON_FITTED",
            text: "A non-fitted device",
            disabled: not isOrderEditable
          }
        ],
        value: deviceType.value,
        errorMessage: deviceType.error
      }) }}
  {% endif %}

{% endblock %}
