{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "./partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Apply, change or end an Electronic Monitoring Order (EMO)</h1>

      <form class="form" method="post">

        <h2 class="govuk-heading-s">Use this service to:</h2>

        <ul class="govuk-list govuk-list--bullet" id="use-service-list">
          <li>submit an EMO application form electronically to EMS replacing sending it by email</li>
          <li>view and download your submitted application forms</li>
          <li>submit a change to an EMO application form</li>
        </ul>

        <h2 class="govuk-heading-s">If you don't have an account:</h2>

        <ul class="govuk-list govuk-list--bullet" id="no-account-list">
          <li><a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/training-and-onboarding.html#onboarding-timetable" target="_blank">view the timetable</a> to see if your team uses this service to submit applications. Your team may not be using the online service yet</li>
          <li>if your team is using this service, <a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/getting-an-account.html#getting-an-account" target="_blank">follow the instructions to get a new account</a></li>
        </ul>

        <h2 class="govuk-heading-s">This service does not yet allow you to:</h2>

        <ul class="govuk-list govuk-list--bullet" id="restrictions-list">
          <li>request a visit for refits or equipment checks. For example, if the battery is not working or there is a medical reason for a refit</li>
          <li>notify EMS of a change to the responsible officer</li>
          <li>notify EMS of a change to the curfew hours or address for a device wearer serving a community sentence</li>
          <li>submit a 'Special' EMO application for a Serious Organised Crime case, those convicted of Terrorist Offences, or assessed as Terrorist Connected and Terrorist Risk cases</li>
        </ul>
        <details class="govuk-details" id="notification-dropdown">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">How do I notify EMS of things that are not in the service?</span>
          </summary>
          <div class="govuk-details__text">
            <h2 class="govuk-heading-s">How do I request a visit for refits or equipment checks or change the Responsible Officer?</h2>
            <p>Use the service request portal if you have access</p>
            <p>If you don’t have access mail <a href="mailto:EMSEnforcement@ems.co.uk">EMSEnforcement@ems.co.uk.</a></p>

            <h2 class="govuk-heading-s">How do I notify EMS for a change in curfew hours or address for a device wearer serving a community sentence?</h2>
            <p>Complete the 'PCSC address change form' Word document and send it to <a href="mailto:LPAdmin@ems.co.uk">LPAdmin@ems.co.uk.</a></p>

            <h2 class="govuk-heading-s">How do I send a 'Special' order for a high-risk device wearer?</h2>
            <ul class="govuk-list govuk-list--bullet" id="special-order-list">
              <li>complete the EMS NSD CPPC SOC order form</li>
              <li>send the completed form by email to <a href="mailto:emCCSpecialCase@ems.co.uk">emCCSpecialCase@ems.co.uk</a></li>
            </ul>
          </div>

        </details>

        {{ govukButton({
          text: "Start now",
          href: "/sign-in",
          id: "sign-in-button",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
