{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/notification-banner/macro.njk" import govukNotificationBanner %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% extends "./partials/layout.njk" %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">Apply, change or end an Electronic Monitoring Order (EMO)</h1>

      <form class="form" method="post">

        <h2 class="govuk-heading-s">Use this service to:</h2>

        <ul class="govuk-list govuk-list--bullet" id="use-service-list">
          <li>submit an EMO application form electronically to EMS replacing sending it by email</li>
          <li>view and download your submitted application forms</li>
          <li>submit a change to an EMO application form</li>
        </ul>

        <h2 class="govuk-heading-s">If you don't have an account:</h2>

        <ul class="govuk-list govuk-list--bullet" id="no-account-list">
          <li><a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/training-and-onboarding.html#onboarding-timetable" target="_blank">view the timetable</a> to see if your team uses this service to submit applications. Your team may not be using the online service yet</li>
          <li>if your team is using this service, <a href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/getting-an-account.html#getting-an-account" target="_blank">follow the instructions to get a new account</a></li>
        </ul>

        <h2 class="govuk-heading-s">What you need to create an EMO</h2>

        <p>This service does not yet allow you see and use information from other services such as Digital Prison Services (DPS) and Create and Vary a Licence (CVL).</p>
        <p>You will need to have and enter information about the device wearer and the monitoring requirements from the licence.</p>
        <p>To help plan installation you will be asked risk information about the device wearer. Answer questions based on what you know about the device wearers previous offence and behaviour. If you do not have this information you can ask Probation.</p>

        {{ govukButton({
          text: "Start now",
          href: "/sign-in",
          id: "sign-in-button",
          isStartButton: true
        }) }}

      </form>
    </div>
  </div>
{% endblock %}
