{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/date-input/macro.njk" import govukDateInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../components/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set section = content.pages.deviceWearer.section %}
{% set heading = content.pages.deviceWearer.title %}
{% set legend = content.pages.deviceWearer.legend %}
{% set helpText = content.pages.deviceWearer.helpText %}

{% set visuallyHiddenHint %}
  <span class="govuk-visually-hidden"> Selecting this will reveal an additional input</span>
{% endset %}

{% set languageHtml %}
  {{ accessibleAutocomplete({
    id: "language",
    name: "language",
    label: content.pages.deviceWearer.questions.language.text,
    hint: content.pages.deviceWearer.questions.language.hint,
    options: content.reference.languages | toOptions(false, true),
    value: language.value,
    errorMessage: language.error,
    disabled: not isOrderEditable,
    nonce: cspNonce
  }) }}
{% endset %}

{% block formInputs %}
  {{ govukInput({
      label: {
        text: content.pages.deviceWearer.questions.firstName.text,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "firstName",
      name: "firstName",
      value: firstName.value,
      errorMessage: firstName.error,
      disabled: not isOrderEditable
    }) }}

  {{ govukInput({
      label: {
        text: content.pages.deviceWearer.questions.lastName.text,
        classes: "govuk-fieldset__legend--s"
      },
      classes: "govuk-input--width-10",
      id: "lastName",
      name: "lastName",
      value: lastName.value,
      errorMessage: lastName.error,
      disabled: not isOrderEditable
    }) }}

  {{ govukInput({
      label: {
        text: content.pages.deviceWearer.questions.alias.text,
        classes: "govuk-fieldset__legend--s"
      },
      hint: {
          text: content.pages.deviceWearer.questions.alias.hint
      },
      classes: "govuk-input--width-10",
      id: "alias",
      name: "alias",
      value: alias.value,
      errorMessage: alias.error,
      disabled: not isOrderEditable
    }) }}

  {% set isDisabled = {} if isOrderEditable else { disabled: true } %}

  {{ govukDateInput({
    id: "dateOfBirth",
    fieldset: {
      legend: {
        text: content.pages.deviceWearer.questions.dateOfBirth.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: "For example, 21 05 2005"
    },
    items: [
      {
        id: "dateOfBirth-day",
        name: "dateOfBirth[day]",
        label: "Day",
        classes: "govuk-input--width-2",
        value: dateOfBirth.value.day,
        attributes: isDisabled
      },
      {
        id: "dateOfBirth-month",
        name: "dateOfBirth[month]",
        label: "Month",
        classes: "govuk-input--width-2",
        value: dateOfBirth.value.month,
        attributes: isDisabled
      },
      {
        id: "dateOfBirth-year",
        name: "dateOfBirth[year]",
        label: "Year",
        classes: "govuk-input--width-4",
        value: dateOfBirth.value.year,
        attributes: isDisabled
      }
    ],
    errorMessage: dateOfBirth.error
  }) }}

  {{ govukRadios({
    name: "adultAtTimeOfInstallation",
    classes: "govuk-radios--inline",
    fieldset: {
      legend: {
        text: content.pages.deviceWearer.questions.adultAtTimeOfInstallation.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint:{
      text: content.pages.deviceWearer.questions.adultAtTimeOfInstallation.hint
    },
    items: [
      {
        value: "false",
        text: "Yes",
        disabled: not isOrderEditable
      },
      {
        value: "true",
        text: "No",
        disabled: not isOrderEditable
      }
    ],
    value: adultAtTimeOfInstallation.value,
    errorMessage: adultAtTimeOfInstallation.error,
    disabled: not isOrderEditable
  }) }}

  {{ govukRadios({
    name: "sex",
    fieldset: {
      legend: {
        text: content.pages.deviceWearer.questions.sex.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: content.pages.deviceWearer.questions.sex.hint
    },
    items: content.reference.sex | toOptions(not isOrderEditable),
    value: sex.value,
    errorMessage: sex.error,
    disabled: not isOrderEditable
  }) }}

  {% set genderOptions = [] %}
  {% for gender in content.reference.gender | toOptions(not isOrderEditable) %}
    {% if gender.value == '' %}
      {% set genderOptions = (genderOptions.push({
        divider: "or"
      }), genderOptions) %}
    {% endif %}
    {% set genderOptions = (genderOptions.push(gender), genderOptions) %}
  {% endfor %}

  {{ govukRadios({
    name: "gender",
    fieldset: {
      legend: {
        text: content.pages.deviceWearer.questions.gender.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: content.pages.deviceWearer.questions.gender.hint
    },
    items: genderOptions,
    value: gender.value,
    errorMessage: gender.error,
    disabled: not isOrderEditable
  }) }}

  {% set visuallyHiddenHint %}
    <span class="govuk-visually-hidden"> Selecting this will reveal an additional input</span>
  {% endset %}

  {% set otherDisabilityHtml %}
    {{
      govukInput({
      label: {
        text: content.pages.deviceWearer.questions.otherDisability.text
      },
      id: "otherDisability",
      name: "otherDisability",
      classes: "govuk-!-width-one-third",
      errorMessage: otherDisability.error,
      disabled: not isOrderEditable,
      value: otherDisability.value
      }) }}
  {% endset %}

  {% set disabilityOptions = [] %}
  {% for disability in content.reference.disabilities | toOptions(not isOrderEditable) %}

    {% if disability.value == 'OTHER' %}
      {% set disabilityOptions = (
        disabilityOptions.push({
          value: disability.value,
          text: disability.text,
          hint: {
            html: visuallyHiddenHint
          },
          conditional: {
            html: otherDisabilityHtml
          }
        }),
        disabilityOptions
      ) %}

    {% elif disability.value == 'NO_LISTED_CONDITION' %}
      {% set disabilityOptions = (
        disabilityOptions.push({divider: "or"}),
        disabilityOptions.push(disability), disabilityOptions
      ) %}

    {% elif disability.value == 'NONE' %}
      {% set disabilityOptions = (
        disabilityOptions.push({divider: "or"}),
        disabilityOptions.push(disability), disabilityOptions
      ) %}

    {% elif disability.value == 'PREFER_NOT_TO_SAY' %}
      {# This option is not shown in the UI #}
      
    {% else %}
      {% set disabilityOptions = (
        disabilityOptions.push(disability), disabilityOptions
      ) %}
    {% endif %}
  {% endfor %}
  
  {{ govukCheckboxes({
    name: "disabilities",
    classes: "govuk-checkboxes--small",
    fieldset: {
      legend: {
        text: content.pages.deviceWearer.questions.disabilities.text,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--s"
      }
    },
    hint: {
      text: content.pages.deviceWearer.questions.disabilities.hint
    },
    items:disabilityOptions,
    values: disabilities.values,
    errorMessage: disabilities.error,
    disabled: not isOrderEditable
  }) }}

  {% call govukFieldset({
    legend: {
      text: "Language",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
  {{ govukRadios({
      name: "interpreterRequired",
      fieldset:{
        legend: {
          text: content.pages.deviceWearer.questions.interpreterRequired.text,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint:{
        text: content.pages.deviceWearer.questions.interpreterRequired.hint
      },
      items: [
        {
          value: "true",
          text: "Yes",
          hint: {
            html: visuallyHiddenHint
          },
          conditional: {
            html: languageHtml
          },
          disabled: not isOrderEditable
        },
        {
          value: "false",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      value: interpreterRequired.value,
      errorMessage: interpreterRequired.error,
      disabled: not isOrderEditable
    }) }}
   
  {% endcall %}

{% endblock %}
