{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set section = content.pages.identityNumbers.section %}
{% set questionName = content.pages.identityNumbers.title %}

{% block formInputs %}

  {% if isSingleIdentityNumber %}

    {% set field = identityNumberFields[0] %}
    {% set fieldHint = content.pages.identityNumbers.questions[field.name].hint %}

    <input type="hidden" name="identityNumbers" value="{{ field.type }}">

    {{ govukInput({
      id: field.name,
      name: field.name,
      label: {
        text: content.pages.identityNumbers.singleQuestionTitles[field.name],
        isPageHeading: true,
        classes: "govuk-label--l"
      },
      hint: { text: fieldHint } if fieldHint else none,
      classes: "govuk-!-width-one-half",
      value: field.value,
      errorMessage: field.error,
      disabled: not isOrderEditable
    }) }}

  {% else %}

    {% set items = [] %}

    {% for field in identityNumberFields %}
      {% set fieldHint = content.pages.identityNumbers.questions[field.name].hint %}

      {% set inputHtml %}
        {{ govukInput({
          id: field.name,
          name: field.name,
          label: { text: content.pages.identityNumbers.inputLabels[field.name] },
          hint: { text: fieldHint } if fieldHint else none,
          classes: "govuk-!-width-one-half",
          value: field.value,
          errorMessage: field.error,
          disabled: not isOrderEditable
        }) }}
      {% endset %}

      {% set items = (items.push({
        value: field.type,
        text: content.pages.identityNumbers.questions[field.name].text,
        conditional: { html: inputHtml },
        checked: field.checked,
        disabled: not isOrderEditable
      }), items) %}
    {% endfor %}

    {{ govukCheckboxes({
      name: "identityNumbers",
      fieldset: {
        legend: {
          text: content.pages.identityNumbers.legend,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        text: content.pages.identityNumbers.helpText
      },
      items: items,
      errorMessage: identityNumbers.error
    }) }}

  {% endif %}

{% endblock %}
