{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/checkboxes/macro.njk" import govukCheckboxes %}

{% set section = content.pages.identityNumbers.section %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.identityNumbers.questions %}
{% set questionName = "Identity numbers"%}

  {% set pncIdHtml %}
  {{ govukInput({
    label: {
      text: questions.pncId.hint,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "pncId",
    name: "pncId",
    value: pncId.value,
    errorMessage: pncId.error,
    disabled: not isOrderEditable
  }) }}
  {% endset %}

  {% set nomisIdHtml %}
  {{ govukInput({
    label: {
      text: questions.nomisId.hint,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "nomisId",
    name: "nomisId",
    value: nomisId.value,
    errorMessage: nomisId.error,
    disabled: not isOrderEditable
  }) }}
  {% endset %}

  {% set prisonNumberHtml %}
  {{ govukInput({
    label: {
      text: questions.prisonNumber.hint,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "prisonNumber",
    name: "prisonNumber",
    value: prisonNumber.value,
    errorMessage: prisonNumber.error,
    disabled: not isOrderEditable
  }) }}
  {% endset %}

  {% set deliusIdHtml %}
  {{ govukInput({
    label: {
      text: questions.deliusId.hint,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "deliusId",
    name: "deliusId",
    value: deliusId.value,
    errorMessage: deliusId.error,
    disabled: not isOrderEditable
  }) }}
  {% endset %}

  {% set ceprIdHtml %}
  {{ govukInput({
    label: {
      text: questions.ceprId.hint,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "ceprId",
    name: "ceprId",
    value: ceprId.value,
    errorMessage: ceprId.error,
    disabled: not isOrderEditable
  }) }}
  {% endset %}

  {% set ccrnIdHtml %}
  {{ govukInput({
    label: {
      text: questions.ccrnId.hint,
      classes: "govuk-fieldset__legend--s"
    },
    classes: "govuk-input--width-10",
    id: "ccrnId",
    name: "ccrnId",
    value: ccrnId.value,
    errorMessage: ccrnId.error,
    disabled: not isOrderEditable
  }) }}
  {% endset %}

{% block formInputs %}
  {{ govukCheckboxes({
    name: "identityNumbers",
    fieldset: {
      legend: {
        text: content.pages.identityNumbers.legend,
        isPageHeading: false,
        classes: "govuk-fieldset__legend--l"
      }
    },
    hint: {
      text: content.pages.identityNumbers.helpText
    },
    items: [
      {
        value: "pncId",
        text: questions.pncId.text,
        conditional: {
          html: pncIdHtml
        },
        checked: pncId.value,
        disabled: pncId.disabled
      },
      {
        value: "nomisId",
        text: questions.nomisId.text,
        conditional: {
          html: nomisIdHtml
        },
        checked: nomisId.value,
        disabled: nomisId.disabled
      },
      {
        value: "prisonNumber",
        text: questions.prisonNumber.text,
        conditional: {
          html: prisonNumberHtml
        },
        checked: prisonNumber.value,
        disabled: prisonNumber.disabled
      },
      {
        value: "deliusId",
        text: questions.deliusId.text,
        conditional: {
          html: deliusIdHtml
        },
        checked: deliusId.value,
        disabled: deliusId.disabled
      },
      {
        value: "ceprId",
        text: questions.ceprId.text,
        conditional: {
          html: ceprIdHtml
        },
        checked: ceprId.value,
        disabled: ceprId.disabled
      },
      {
        value: "ccrnId",
        text: questions.ccrnId.text,
        conditional: {
          html: ccrnIdHtml
        },
        checked: ccrnId.value,
        disabled: ccrnId.disabled
      }
    ]
  }) }}

{% endblock %}
