{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Contact information - Contact details - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Contact information" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: "Contact details",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

    {{ govukInput(fields.contactNumber.args) }}
    
  {% endcall %}

{% endblock %}
