{% extends "../../../partials/form-layout.njk" %}

{% set pageTitle = "Contact information - Notifying organisation - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set section = "Contact information" %}
{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/select/macro.njk" import govukSelect %}
{% from "../../../components/accessible-autocomplete/macro.njk" import accessibleAutocomplete %}

{% set crownCourtHtml %}

  {{ accessibleAutocomplete({
    id: 'crownCourtName',
    name: 'notifyingOrganisationName',
    label: 'Select the name of the Crown Court',
    options: [],
    value: notifyingOrganisationName.value,
    errorMessage: notifyingOrganisationName.error,
    nonce: cspNonce
  }) }}

{% endset %}

{% set magistrateCourtHtml %}

  {{ accessibleAutocomplete({
    id: 'magistrateCourtName',
    name: 'notifyingOrganisationName',
    label: 'Select the name of the Court',
    options: [],
    value: notifyingOrganisationName.value,
    errorMessage: notifyingOrganisationName.error,
    nonce: cspNonce
  }) }}

{% endset %}

{% set prisonHtml %}

  {{ accessibleAutocomplete({
    id: 'prisonName',
    name: 'notifyingOrganisationName',
    label: 'Select the name of the Prison',
    options: prisons,
    value: notifyingOrganisationName.value,
    errorMessage: notifyingOrganisationName.error,
    nonce: cspNonce
  }) }}

{% endset %}

{% set probationRegionHtml %}

  {{ govukSelect({
    id: "probationRegion",
    name: "probationRegion",
    label: {
      text: "Select the region"
    },
    items: probationRegions,
    value: responsibleOrganisationRegion.value,
    errorMessage: responsibleOrganisationRegion.error,
    disabled: not isOrderEditable
  }) }}

{% endset %}

{% set yjsRegionHtml %}

  {{ govukSelect({
    id: "yjsRegion",
    name: "yjsRegion",
    label: {
      text: "Select the region"
    },
    items: [
      {
        value: "",
        text: "Select region"
      },
      {
        value: "EAST_AND_SOUTH_EAST",
        text: "East and South East"
      },
      {
        value: "LONDON",
        text: "London"
      },
      {
        value: "MIDLANDS",
        text: "Midlands"
      },
      {
        value: "NORTH_EAST_AND_CUMBRIA",
        text: "North East and Cumbria"
      },
      {
        value: "NORTH_WEST",
        text: "North West"
      },
      {
        value: "SOUTH_WEST_AND_SOUTH_CENTRAL",
        text: "South West and South Central"
      },
      {
        value: "WALES",
        text: "Wales"
      },
      {
        value: "YORKSHIRE_AND_HUMBERSIDE",
        text: "Yorkshire and Humberside"
      }
    ],
    value: responsibleOrganisationRegion.value,
    errorMessage: responsibleOrganisationRegion.error,
    disabled: not isOrderEditable
  }) }}

{% endset %}

{% block formInputs %}

  {% call govukFieldset({
    legend: {
      text: " Notifying organisation",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}

    {{ govukRadios({
      name: "notifyingOrganisation",
      fieldset: {
        legend: {
          text: "What organisation or related organisation are you part of?",
          isPageHeading: true,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select one option"
      },
      items: [
        {
          value: "CROWN_COURT",
          text: "Crown Court",
          conditional: {
            html: crownCourtHtml
          },
          disabled: not isOrderEditable
        },
        {
          value: "FAMILY_COURT",
          text: "Family Court",
          disabled: not isOrderEditable
        },
        {
          value: "MAGISTRATES_COURT",
          text: "Magistrates Court",
          conditional: {
            html: magistrateCourtHtml
          },
          disabled: not isOrderEditable
        },
        {
          value: "SCOTTISH_COURT",
          text: "Scottish Court",
          disabled: not isOrderEditable
        },
        {
          value: "HOME_OFFICE",
          text: "Home Office",
          disabled: not isOrderEditable
        },
        {
          value: "PRISON",
          text: "Prisons",
          conditional: {
            html: prisonHtml
          },
          disabled: not isOrderEditable
        },
        {
          value: "PROBATION",
          text: "Probation",
          disabled: not isOrderEditable
        }
      ],
      value: notifyingOrganisation.value,
      errorMessage: notifyingOrganisation.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "What is the email address for your team?",
        classes: "govuk-label--s"
      },
      hint: {
        html: "For example, provide an email address for a shared mailbox that your team has access to. Do not provide a personal email address."
      },
      classes: "govuk-!-width-one-half",
      id: "notifyingOrganisationEmail",
      name: "notifyingOrganisationEmail",
      value: notifyingOrganisationEmail.value,
      errorMessage: notifyingOrganisationEmail.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Responsible Officer",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukInput({
      label: {
        text: "Full name of responsible officer",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOfficerName",
      name: "responsibleOfficerName",
      value: responsibleOfficerName.value,
      errorMessage: responsibleOfficerName.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Telephone number for responsible officer",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOfficerPhoneNumber",
      name: "responsibleOfficerPhoneNumber",
      type: "tel",
      autocomplete: "tel tel-national",
      value: responsibleOfficerPhoneNumber.value,
      errorMessage: responsibleOfficerPhoneNumber.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}

  {% call govukFieldset({
    legend: {
      text: "Responsible Organisation",
      classes: "govuk-fieldset__legend--m",
      isPageHeading: false
    }
  }) %}
    {{ govukRadios({
      name: "responsibleOrganisation",
      fieldset: {
        legend: {
          text: "What organisation is the responsible officer part of?",
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      hint: {
        text: "Select one option"
      },
      value: responsibleOrganisation.value,
      errorMessage: responsibleOrganisation.error,
      items: [
        {
          value: "YJS",
          text: "Youth Justice Service (YJS)",
          conditional: {
            html: yjsRegionHtml
          },
          disabled: not isOrderEditable
        },
        {
          value: "YCS",
          text: "Youth Custody Service (YCS)",
          disabled: not isOrderEditable
        },
        {
          value: "PROBATION",
          text: "Probation",
          conditional: {
            html: probationRegionHtml
          },
          disabled: not isOrderEditable
        },
        {
          value: "FIELD_MONITORING_SERVICE",
          text: "Field monitoring service",
          disabled: not isOrderEditable
        },
        {
          value: "HOME_OFFICE",
          text: "Home Office",
          disabled: not isOrderEditable
        },
        {
          value: "POLICE",
          text: "Police",
          disabled: not isOrderEditable
        }
      ]
    }) }}


    {% call govukFieldset({
      legend: {
        text: "What is the address of the responsible organisation?",
        classes: "govuk-fieldset__legend--s",
        isPageHeading: false
      }
    }) %}
      {{ govukInput({
        label: {
          text: "Address line 1"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line-1",
        name: "responsibleOrganisationAddressLine1",
        value: responsibleOrganisationAddressLine1.value,
        errorMessage: responsibleOrganisationAddressLine1.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 2"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line-2",
        name: "responsibleOrganisationAddressLine2",
        value: responsibleOrganisationAddressLine2.value,
        errorMessage: responsibleOrganisationAddressLine2.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 3"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line-3",
        name: "responsibleOrganisationAddressLine3",
        value: responsibleOrganisationAddressLine3.value,
        errorMessage: responsibleOrganisationAddressLine3.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Address line 4"
        },
        classes: "govuk-!-width-two-thirds",
        id: "address-line-4",
        name: "responsibleOrganisationAddressLine4",
        value: responsibleOrganisationAddressLine4.value,
        errorMessage: responsibleOrganisationAddressLine4.error,
        disabled: not isOrderEditable
      }) }}

      {{ govukInput({
        label: {
          text: "Postcode"
        },
        classes: "govuk-!-width-two-thirds",
        id: "postcode",
        name: "responsibleOrganisationAddressPostcode",
        value: responsibleOrganisationAddressPostcode.value,
        errorMessage: responsibleOrganisationAddressPostcode.error,
        disabled: not isOrderEditable
      }) }}

    {% endcall %}

    {{ govukInput({
      label: {
        text: "Telephone number for responsible organisation",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOrganisationPhoneNumber",
      name: "responsibleOrganisationPhoneNumber",
      type: "tel",
      autocomplete: "tel tel-national",
      value: responsibleOrganisationPhoneNumber.values,
      errorMessage: responsibleOrganisationPhoneNumber.error,
      disabled: not isOrderEditable
    }) }}

    {{ govukInput({
      label: {
        text: "Email address for responsible organisation",
        classes: "govuk-label--s"
      },
      classes: "govuk-!-width-one-half",
      id: "responsibleOrganisationEmail",
      name: "responsibleOrganisationEmail",
      value: responsibleOrganisationEmail.value,
      errorMessage: responsibleOrganisationEmail.error,
      disabled: not isOrderEditable
    }) }}
  {% endcall %}


{% endblock %}
