{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

{{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-l">Submitted electronic monitoring order details</h1>

      {{ govukSummaryList({
        classes: "govuk-!-margin-bottom-9",
        rows: [
          {
            key: {
              text: "Order ID"
            },
            value: {
              text: id
            }
          }]
      }) }}

      <h1 class="govuk-heading-l">About the device wearer</h1>
      <h2 class="govuk-heading-m">Personal details</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  {% for key, value in deviceWearer %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                {% for key, value in deviceWearerContactDetails %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

{% if deviceWearerResponsibleAdult %}
        <h2 class="govuk-heading-m">Responsible Adult</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in deviceWearerResponsibleAdult %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>
  {% endif %}

{# NEEDS ATTENTION RE MODEL #}
        <h2 class="govuk-heading-m">Addresses</h2>
        {% for address in addresses %}
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  <h3 class="govuk-heading-s">Address Type: {{address.addressType | capitalize }}</h3>
                    {% for key, value in address %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          {{ key | formatKey }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {{ value }}
                        </dd>
                      </div>
                    {% endfor %}
                </dl>
            </div>
            {% endfor %}

        <h2 class="govuk-heading-m">Interested parties</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in notifyingOrganisation %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

        <h1 class="govuk-heading-l">Monitoring Conditions</h1>
        <h2 class="govuk-heading-m">Overview</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in monitoringConditions %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>


        <h2 class="govuk-heading-m">Enforcement zone conditions</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in enforcementZoneConditions %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

        <h2 class="govuk-heading-m">Trail monitoring conditions</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in monitoringConditionsTrail %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

        <h2 class="govuk-heading-m">Alcohol monitoring conditions</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in monitoringConditionsAlcohol %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

        <h2 class="govuk-heading-m">Curfew conditions</h2>
        <h3 class="govuk-heading-s">Curfew monitoring conditions</h3>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in curfewConditions %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

        <h3 class="govuk-heading-s">Curfew release date conditions</h3>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in curfewReleaseDateConditions %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>
        <h3 class="govuk-heading-s">Curfew timetable conditions</h3>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  {% for curfew in curfewTimeTable %}
                    {% for key, value in curfew %}
                      <div class="govuk-summary-list__row">
                        <dt class="govuk-summary-list__key">
                          {{ key | formatKey }}
                        </dt>
                        <dd class="govuk-summary-list__value">
                          {{ value }}
                        </dd>
                      </div>
                  {% endfor %}
                {% endfor %}
                </dl>
            </div>
        

        <h2 class="govuk-heading-m">Attendance monitoring conditions</h2>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                {% for attendanceMonitoring in monitoringConditionsAttendance %}
                  {% for key, value in attendanceMonitoring %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                  {% endfor %}
                {% endfor %}
                </dl>
            </div>


      <h1 class="govuk-heading-l">Installation and risk</h1>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">
                  {% for key, value in installationAndRisk %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>

        <h1 class="govuk-heading-l">Additional Documents</h1>
            <div class="govuk-grid-row">
                <dl class="govuk-summary-list govuk-!-margin-bottom-9">

                  {% for key, value in additionalDocuments %}
                    <div class="govuk-summary-list__row">
                      <dt class="govuk-summary-list__key">
                        {{ key | formatKey }}
                      </dt>
                      <dd class="govuk-summary-list__value">
                         {{ value }}
                      </dd>
                    </div>
                {% endfor %}
                </dl>
            </div>



<div class="govuk-button-group">
      {{ govukButton({
          text: "Back to your applications",
          href: "/"
      }) }}
  </div>

{% endblock %}