{% extends "../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block content %}

  {{ govukBackLink({
  text: "Back",
  href: "/"
}) }}

  <div class="govuk-button-group" id="download-pdf">
    {{ govukButton({
          text: "Download page as PDF receipt"
      }) }}
  </div>

    <h1 class="govuk-heading-l">Submitted electronic monitoring order details</h1>

    {% for orderKey, orderValue in order %}
      {% if not orderValue | isEmpty %}
        <h2 class="govuk-heading-l">{{ orderKey | toSentenceCase }}</h2>

        {# String format #}
        {% if orderValue | checkType == 'string' %}
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            <div class="govuk-summary-list__row">
              <dd class="govuk-summary-list__value">
                {{ orderValue }}
              </dd>
            </div>
          </dl>
        {% endif %}

        {# Object format #}
        {% if orderValue | checkType == 'object' %}
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
            {% for key, value in orderValue %}
              <div class="govuk-summary-list__row">
                <dt class="govuk-summary-list__key">
                  {{ key | toSentenceCase }}
                </dt>
                <dd class="govuk-summary-list__value">
                  {% if value | checkType == 'array' %}
                    {{ value | join(', ') }}
                  {% else %}
                    {{ value }}
                  {% endif %}
                </dd>
              </div>
            {% endfor %}
          </dl>
        {% endif %}

        {# Array Format #}
        {% if orderValue | checkType == 'array' %}
          {% for item in orderValue %}
            <h3 class="govuk-heading-s">{{ orderKey | toSentenceCase }} item {{ loop.index }}</h3>
            <dl class="govuk-summary-list govuk-!-margin-bottom-9">
              {% for key, value in item %}
                <div class="govuk-summary-list__row">
                  <dt class="govuk-summary-list__key">
                    {{ key | toSentenceCase }}
                  </dt>
                  <dd class="govuk-summary-list__value">
                    {% if value | checkType == 'array' %}
                      {{ value | join(', ') }}
                    {% else %}
                      {{ value }}
                    {% endif %}
                  </dd>
                </div>
              {% endfor %}
            </dl>
          {% endfor %}
        {% endif %}

      {% endif %}
    {% endfor %}

    <div class="govuk-button-group">
      {{ govukButton({
          text: "Back to your applications",
          href: "/"
      }) }}
    </div>

{% endblock %}