{% extends "../../partials/layout.njk" %}

{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: orderSummaryUri
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">{{ pageTitle }}</h1>

      {% for section in sections %}
        <h2 id="return-reasons-section-heading-{{ loop.index }}" class="govuk-heading-m">{{ section.heading }}</h2>
        <ul class="govuk-list" aria-label="Reasons for returning this form">
          {% for detail in section.details %}
            <li>{{ detail }}</li>
          {% endfor %}
        </ul>
      {% endfor %}

      <form action="" method="post">
        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
        {{ govukButton({
          text: "Back to form",
          name: "action",
          value: "returnToSummary"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}
