{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Application submission failed - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% set formDownloadIcon = '/assets/images/form_download.svg' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <br/>

      {{ govukPanel({
        titleText: "Failed to submit attachments",
        classes: "govuk-panel--error"
      }) }}

      <p class="govuk-body">Check that there is nothing wrong with your attachments and that you can open them.</p>

      <p class="govuk-heading-s">If you can't open your attachments</p>

      <p class="govuk-body">Your attachments failed to submit due to a problem with your files.</p>

      <p class="govuk-body">Resubmit your order with a new attachments.</p>

      <p class="govuk-heading-s">If you can open your attachments</p>

      <p class="govuk-body">Your attachments failed to submit with your application form due to a technical problem.</p>

      <p class="govuk-body">Download and submit your application form and attachments by email to:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a href="mailto:hoieorders@ems.co.uk">hoieorders@ems.co.uk</a> if you work at the Home Office </li>
        <li><a href="mailto:EMNotifications@ems.co.uk">EMNotifications@ems.co.uk</a> if you work in any other service or department</li>
      </ul>

      <img src="{{ formDownloadIcon }}" alt="Icon of a form">

      {{ govukButton({
        text: "View and download completed application form",
        href: "/order/" + orderId + "/receipt",
        classes: "govuk-button--secondary",
        id: "receipt-button"
      }) }}

      <br>

      {{ govukButton({
        text: "Back to start",
        href: "/",
        id: "back-to-applications-button"
      }) }}

      <p  class="govuk-body">
        <a href="https://forms.office.com/e/khDZBF1tCS">
          What did you think of this service? (takes 30 seconds)
        </a>
      </p>

    </div>
  </div>
{% endblock %}
