{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Application successfully submitted - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/panel/macro.njk" import govukPanel %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}

  {{ govukPanel({
    titleText: "Application successfully submitted",
    html: "Your reference number<br><strong>EXAMPLE</strong>",
    attributes: {
      "data-qa": "confirmation-panel"
    }
  }) }}

{{ govukPanel({
  titleText: "Application successfully submitted",
  html: "Your reference number is <br><strong>EXAMPLE</strong>",
  attributes: {
    "data-qa": "confirmation-panel"
  }
}) }}

<h2>This button downloads a PDF receipt using puppeteer to take a screenshot of a non-visible page</h2>

<div class="govuk-button-group">
      {{ govukButton({
          text: "Download PDF receipt",
          href: "/order/" + orderId + "/receipt/download"
      }) }}
  </div>

  <h2>This button takes you to a receipt page where you can download the page as a PDF</h2>

<div class="govuk-button-group">
      {{ govukButton({
          text: "See order details",
          href: "/order/" + orderId + "/receipt/view"
      }) }}
  </div>

<div class="govuk-button-group">
      {{ govukButton({
          text: "Back to your applications",
          href: "/"
      }) }}
  </div>
{% endblock %}
