{% extends "../../partials/layout.njk" %}

{% set pageTitle = "Application summary - " + applicationName %}
{% set error = error %}
{% set mainClasses = "app-container govuk-body" %}
{% set formDownloadIcon = '/assets/images/form_download.svg' %}
{% from "govuk/components/back-link/macro.njk" import govukBackLink %}
{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}
{% from "govuk/components/task-list/macro.njk" import govukTaskList %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
{%- from "moj/components/timeline/macro.njk" import mojTimeline -%}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% set heading = 'Electronic Monitoring application form for ' + order.deviceWearer.firstName + ' ' + order.deviceWearer.lastName if (order.status === 'SUBMITTED') or (order.deviceWearer.firstName)  else "Electronic Monitoring application form" %}

      <h1 class="govuk-heading-l">
        {{ heading }}
      </h1>
      
      {% if not isMostRecentVersion %}
      <p class="govuk-label-s">
          You can't make changes to this form because there are more recent versions of it.
      </p>
      {% endif %}

      {% if order.type ==='VARIATION' %}
       <div id="waste-hint" class="govuk-hint">
          You are making changes to a submitted form.
       </div>
      {% elif order.type ==='REVOCATION'%}
       <div id="waste-hint" class="govuk-hint">
          You are ending all monitoring for the device wearer.
       </div>
      {% elif order.type ==='REINSTALL_DEVICE'%}
       <div id="waste-hint" class="govuk-hint">
          You are requesting monitoring equipment to be reinstalled or checked.
       </div>
      {% elif order.type ==='REINSTALL_AT_DIFFERENT_ADDRESS'%}
       <div id="waste-hint" class="govuk-hint">
          You are requesting monitoring equipment to be installed at a new address.
       </div>
      {% endif %}


      {% if order.status === "ERROR" %}
        {% set insetHtml %}
          Your application form and attachments failed to submit. This was due to a technical problem. For more information <a class="govuk-link" href="https://ministryofjustice.github.io/hmpps-electronic-monitoring-create-an-order-docs/Help-when-something-goes-wrong.html#form-failed-to-submit" target="_blank">View the guidance (opens in a new tab)</a>
        {% endset %}
        {{ govukInsetText({
          html: insetHtml
        }) }}
      {% endif %}

      {% if error %}
        {{ govukErrorSummary({
          titleText: "The form could not be submitted",
          errorList: [
            {
              text: error,
              href: "#"
            }
          ]
        }) }}
      {% endif %}

      {% set items = [] %}
      {% set allChecked = true %}
      {% for section in sections %}
        {% set name = section.name | replace("_", " ") | capitalize %}

        {% if not isOrderEditable %}
          {% set statusArgs = {} %}
        {% elif not section.isReady %}
          {% set statusArgs = {             
                  text: "Cannot start yet",
                  classes: "govuk-task-list__status--cannot-start-yet"                
          } %}
        {% elif section.completed %}
             {% if not section.checked %}
                {% set statusArgs = {                  
                  html: '<strong class="govuk-tag">To check</strong>'
                } %}
                 {% set allChecked = false %}
              {% else %}
                {% set statusArgs = { 
                  text: 'Complete'
                } %}
               {% endif %}
        {% else %}
          {% set statusArgs = { 
            tag: {
              text: 'Incomplete'
            }
          } %}
        {% endif %}

        {%  if not section.isReady %}
          {% set items = (items.push({
            idPrefix: "order-section",
            title: { text: name },                       
            status: statusArgs,
            classes: 'disabled-link'
          }), items) %}
        {% else %}
          {% set items = (items.push({
            idPrefix: "order-section",
            title: { text: name }, 
            href: section.path, 
            status: statusArgs
          }), items) %}
        {% endif %}

      {% endfor %}

      {{ govukTaskList({ idPrefix: "sections", items: items }) }}

      {% if order.status == "IN_PROGRESS" %}
        <form action="/order/{{ order.id }}/submit" method="post" data-module="form-spinner" data->       
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
          <div class="govuk-button-group">
            {{ govukButton({
                text: "Submit form",
                disabled: not order.isValid or not allChecked,
                preventDoubleClick: true
            }) }}
            <a href="/order/{{ orderId }}/delete" class="govuk-link">Delete form</a>
          </div>
        </form>
      {% endif %}

      {% if order.status == "SUBMITTED" %}
        <div class="govuk-!-margin-top-5">
      <div class="govuk-button-group">
              {% if createNewOrderVersionEnabled %}
                {{ govukButton({
                  text: "Make changes to this form",
                  id: "make-changes-button",
                  href: "/order/" + order.id + "/edit"
                }) }}
              {% endif %}
        {% set receiptUrl = "/order/" + orderId + "/version/" + versionId + "/receipt" 
          if versionId else "/order/" + orderId + "/receipt" %}
        {{ govukButton({
          text: "View and download form",
          id: "view-and-download-button",
          href: receiptUrl,
          classes: "govuk-button--secondary"
        }) }}
      </div>
        </div>
      {% endif %}
  
    </div>

    <div class="govuk-grid-column-one-third">
        {% if timelineItems | length %}
          {% set processedTimeLineItems = [] %}
        {% for item in timelineItems %}
          {% if item.href %}
            {% set itemHtml %}
              {{ item.text if item.text }}
              <div class="govuk-!-margin-top-2">
                <a href="{{ item.href }}">View submitted form</a>
              </div>
            {% endset %}
          {% else %}
            {% set itemHtml %}
              {{ item.text if item.text }}
              <div class="govuk-!-margin-top-2">
                <p>You are viewing this version of the form</p>
              </div>
            {% endset %}
          {% endif %}
          {% set processedItem = {
            label: item.label,
            datetime: item.datetime,
            byline: item.byline,
            html: itemHtml
          } %}
          {% set processedTimeLineItems = (processedTimeLineItems.push(processedItem), processedTimeLineItems) %}
        {% endfor %}
        {{ mojTimeline({
            items: processedTimeLineItems
          })}}
        {% endif %}
      </div>
    </div>
{% endblock %}
