{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = content.pages.nationalSecurityDirectorate.section %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.nationalSecurityDirectorate.questions %}
{% set questionName = "HDC"%}
{% block formInputs %}
    {{ govukRadios({
      classes: "govuk-radios",
      name: "nationalSecurityDirectorate",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          text: questions.nationalSecurityDirectorate.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
        html: questions.nationalSecurityDirectorate.hint
      },
      items: [
        {
          value: "YES",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "NO",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      value: nationalSecurityDirectorate.value,
      errorMessage: nationalSecurityDirectorate.error
    }) }}


{% endblock %}
