{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = content.pages.pdu.section %}
{% set legend = content.pages.pdu.legend %}
{% set questionName = "Probation Delivery Unit"%}
{% block formInputs %}

 {% set unitOptions = [] %}
  {% for option in unitList | toOptions(not isOrderEditable, true, "Radio") %}
    {% if option.value == '' %}
      {% set unitOptions = (unitOptions.push({
        divider: "or"
      }), unitOptions) %}
    {% endif %}
    {% set unitOptions = (unitOptions.push(option), unitOptions) %}
  {% endfor %}
{{ govukRadios({
      name: "unit",  
      fieldset: {
        legend: {
          text: content.pages.pdu.questions.unit.text,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },   
      items: unitOptions,
      value: unit.value,
      errorMessage: unit.error,
      disabled: not isOrderEditable
    }) }}
{% endblock %}
