   <h2 class="govuk-heading-m">Notifying Organisation's details</h2>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: contactDetails
  }) }}

   <h2 class="govuk-heading-m">Responsible Officer's details</h2>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: addresses
  }) }}

   <h2 class="govuk-heading-m">Responsible Organisation's details</h2>

  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: interestedParties
  }) }}
