{% extends "../../../partials/check-your-answers-layout.njk" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set section = "About the Notifying and Responsible Organisations" %}

{% block answers %}

   {% include "./answers.njk" %}

{% endblock %}
