{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = content.pages.mappa.section %}
{% set heading = content.pages.mappa.title %}
{% set helpText = content.pages.mappa.helpText %}
{% set questions = content.pages.mappa.questions %}


{% block formInputs %}
  {% set disabled = not isOrderEditable %}

    {{ govukRadios({
      name: "level",
      fieldset: {
        legend: {
          text: questions.mappaLevel.text,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "MAPPA 1",
          text: "MAPPA 1",
          hint: {
            text: "Ordinary agency management, where the offender can be managed by the lead agency in consultation with other agencies involved."
          }
        },
        {
          value: "MAPPA 1",
          text: "MAPPA 1",
          hint: {
            text: "For cases where active interagency management is required in order to manage the risk of serious harm posed."
          }
        },
        {
          value: "MAPPA 1",
          text: "MAPPA 1",
          hint: {
            text: "For the most complex cases which require active interagency management by Senior Managers from the agencies involved."
          }
        }
      ]
    }) }}

    {{govukRadios({
      name: "category",
      fieldset: {
        legend: {
          text: questions.mappaCategory.text,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "Category 1",
          text: "Category 1",
          hint: {
            text: "All registered sexual offenders."
          }
        },
        {
          value: "Category 2",
          text: "Category 2",
          hint: {
            text: "Voilent or other sex offenders not subject to notification requirements."
          }
        },
        {
          value: "Category 3",
          text: "Category 3",
          hint: {
            text: "Other dangerous offenders."
          }
        }
      ]
    })  }}
 
{% endblock %}
