{% extends "../../../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Form Details" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  {% include "./content.njk" %}

{% endblock %}
