{% extends "../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% set section = "About the device wearer" %}
{% set heading = "Device wearer's addresses" %}

{% block formInputs %}

  {{ govukSummaryList({
      rows: items,
      classes: "govuk-!-margin-bottom-9"
  }) }}

  {% if showAddAnother %}
    {{ govukRadios({
      name: "addAnother",
      classes: "govuk-radios--inline",
      fieldset: {
        legend: {
          text: 'Are there any other addresses where the device wearer will be during curfew hours?',
          isPageHeading: false,
          classes: "govuk-fieldset__legend--s"
        }
      },
      items: [
        {
          value: "true",
          text: "Yes",
          disabled: not isOrderEditable
        },
        {
          value: "false",
          text: "No",
          disabled: not isOrderEditable
        }
      ],
      errorMessage: addAnother.error
    }) }}
  {% endif %}
{% endblock %}
