{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set section = content.section %}
{% set heading = content.title %}
{% set legend = "" %}
{% set continueButtonText = "Use this address" %}

{% set addressHtml %}
  {% for line in addressLines %}
    {{ line }}{% if not loop.last %}<br>{% endif %}
  {% endfor %}
{% endset %}

{% block formInputs %}

    {{ govukInsetText({
      html: addressHtml
    }) }}

    <p class="govuk-body">
      <a href="{{ useDifferentAddressLink}}" class="govuk-link">Use a different address</a>
    </p>

    <p class="govuk-body">
      <a href="{{ manualAddressLink }}" class="govuk-link">Enter address manually</a>
    </p>

{% endblock %}
