{% extends "../../../partials/form-layout.njk" %}

{% from "govuk/components/input/macro.njk" import govukInput %}

{% set section = content.section %}
{% set heading = content.title %}
{% set questions = content.questions %}


{% block formInputs %}
    {{ govukInput({
      label: { 
        text: questions.postcode.text,
        classes: "govuk-fieldset__legend--s"
      },
      id: "postcode",
      name: "postcode",
      hint: {
	text: questions.postcode.hint
      },
      value: "",
      errorMessage: "",
      disabled: disabled
    }) }}
 
    {{ govukInput({
      label: { 
        text: questions.buildingId.text,
        classes: "govuk-fieldset__legend--s"
      },
      id: "buildingId",
      name: "buildingId",
      hint: {
	text: questions.buildingId.hint
      },
      value: "",
      errorMessage: "",
      disabled: disabled
    }) }}
{% endblock %}
