{% extends "../../../../partials/check-your-answers-layout.njk" %}

{% set section = "Electronic monitoring required" %}
{% set mainClasses = "app-container govuk-body" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block answers %}
  <h2 class="govuk-heading-m">Order information</h2>
  {{ govukSummaryList({
    classes: "govuk-!-margin-bottom-9",
    rows: answers
  }) }}
{% endblock %}
