{% extends "../../../../partials/form-layout.njk" %}
{% from "../../../partials/dateTimeInput.njk" import dateTimeInput %}

{% set section = "Electronic monitoring required" %}
{% set heading = "Monitoring dates" %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.monitoringConditions.questions %}

{% block formInputs %}

   {{dateTimeInput({
      id: "startDate",
      name: "startDate",
      date: startDate.value,
      dateLabel:  questions.startDate.text,
      dateHint: questions.startDate.hint,
      errorMessages: {
        field: startDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: false
    })}}

  {{dateTimeInput({
      id: "endDate",
      name: "endDate",
      date: endDate.value,
      dateLabel:  questions.endDate.text,
      dateHint: questions.endDate.hint,
      errorMessages: {
        field: endDate.error,
        date: errors.dateError,
        time: errors.timeError
      },
      disabled: not isOrderEditable,
      timesEnabled: false
    })}}

{% endblock %}

