{% extends "../../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set section = "Electronic monitoring required" %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.monitoringConditions.questions %}

{% block formInputs %}

{% if message %}
  {{ govukInsetText({
    text: message
  }) }}
{% endif %}

{{ govukRadios({
  name: "monitoringTypes",
  fieldset: {
    legend: {
      text: questions.monitoringRequired.text,
      classes: "govuk-fieldset__legend--s"
    }
  },
  hint: {
    text: questions.monitoringRequired.hint
  },
  items: [
    {
      value: "curfew",
      text: "Curfew",
      hint: {
        text: "Monitoring the device wearer adheres to set times and days that they must remain at a location."
      },
      disabled: curfew.disabled
    },
    {
      value: "exclusionZone",
      text: "Exclusion zone monitoring",
      hint: {
        text: "Prevents the device wearer entering areas or visiting locations at set times."
      },
      disabled: exclusionZone.disabled
    },
    {
      value: "trail",
      text: "Trail monitoring",
      hint: {
        text: "Recording and gathering data on movements of the device wearer throughout the day."
      },
      disabled: trail.disabled
    },
    {
      value: "mandatoryAttendance",
      text: "Mandatory attendance monitoring",
      hint: {
        text: "Recording the device wearer's attendance at arranged meetings or places."
      },
      disabled: mandatoryAttendance.disabled
    },
    {
      value: "alcohol",
      text: "Alcohol monitoring",
      hint: {
        text: "Measuring alcohol levels of the device wearer or recording they are abstaining from drinking alcohol."
      },
      disabled: alcohol.disabled
    }
  ],
  errorMessage: error,
  disabled: not isOrderEditable
}) }}

{% endblock %}
