{% extends "../../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = "Electronic monitoring required" %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.monitoringConditions.questions %}

{% block formInputs %}
    {{ govukRadios({
      name: "pilot",  
      hint: { text: questions.pilot.hint },
      fieldset: {
        legend: {
          text: questions.pilot.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      }, 
      items: items ,
      value: pilot.value,
      errorMessage: pilot.error
})}}

{% endblock %}
