{% extends "../../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% set section = "Electronic monitoring required" %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.monitoringConditions.questions %}

{% block formInputs %}
    {% set hint %}
        {% if message %}
            {{ govukInsetText({
              text: message
            }) }}
        {% else  %}
          {{ questions.pilot.hint }}
        {% endif %}
    {% endset %}

    {{ govukRadios({
      name: "pilot",
      hint: {
        html: hint
      },
      fieldset: {
        legend: {
          text: questions.pilot.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: items,
      value: pilot.value,
      errorMessage: pilot.error
})}}

{% endblock %}
