{% extends "../../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = "Electronic monitoring required" %}
{% set singleQuestionPage = true %}
{% set questions = content.pages.monitoringConditions.questions %}

{% block formInputs %}
    {{ govukRadios({
      name: "policeArea",
      fieldset: {
        legend: {
          text: questions.policeArea.text,
          isPageHeading: false,
          classes: "govuk-fieldset__legend--l"
        }
      },
      hint: {
	      html: questions.policeArea.hint
      },
      items: items,
      value: policeArea.value,
      errorMessage: policeArea.error
})}}

{% endblock %}