{% extends "../../../../partials/form-layout.njk" %}
{% from "govuk/components/radios/macro.njk" import govukRadios %}

{% set section = "Electronic monitoring required" %}
{% set singleQuestionPage = true %}
{% set questionName = "Sentence Type"%}


{% set items = [] %}

{% for question in sentenceTypeQuestions %}
    {% if loop.last and (question.value == 'COMMUNITY' or question.value == 'BAIL') %}
        {% set items = (items.push({
            divider: "or",
            disabled: not isOrderEditable
        }), items) %}
    {% endif %}

    {% set items = (items.push({
      text: question.question,
      value: question.value,
      disabled: not isOrderEditable
    }), items) %}
{% endfor %}

{% block formInputs %}
    {{ govukRadios({
      name: "sentenceType",
      errorMessage: sentenceType.error,
      value: sentenceType.value,
      fieldset: {
        legend: {
          text: pageHeading,
          isPageHeading: true,
          classes: "govuk-fieldset__legend--l"
        }
      },
      items: items
    })}}
{% endblock %}

