---
# Per environment values which override defaults in hmpps-electronic-monitoring-create-an-order/values.yaml

generic-service:
  ingress:
    host: hmpps-electronic-monitoring-create-an-order.hmpps.service.justice.gov.uk

  env:
    INGRESS_URL: "https://hmpps-electronic-monitoring-create-an-order.hmpps.service.justice.gov.uk"
    HMPPS_AUTH_URL: "https://sign-in.hmpps.service.justice.gov.uk/auth"
    TOKEN_VERIFICATION_API_URL: "https://token-verification-api.prison.service.justice.gov.uk"
    CEMO_API_URL: "https://hmpps-electronic-monitoring-create-an-order-api.hmpps.service.justice.gov.uk"
    AUDIT_ENABLED: "false"
    DD_V5_1_ENABLED: "false"
    ALCOHOL_MONITORING_ENABLED: "true"
    LIST_MONITORING_CONDITION_FLOW_ENABLED: "true"
    TAG_AT_SOURCE_PILOT_PRISONS: "PETERBOROUGH_PRISON,FOSSE_WAY_PRISON,SUDBURY_PRISON,RANBY_PRISON,SWANSEA_PRISON,CARDIFF_PRISON"
    DAPOL_PILOT_PROBATION_REGIONS: "LONDON,EAST_OF_ENGLAND,SOUTH_WEST,KENT_SURREY_SUSSEX,WALES,SOUTH_CENTRAL,EAST_MIDLANDS,WEST_MIDLANDS"
    LICENCE_VARIATION_PROBATION_REGIONS: "YORKSHIRE_AND_THE_HUMBER,EAST_MIDLANDS,WEST_MIDLANDS,NORTH_WEST,NORTH_EAST"

  allowlist:
    groups:
      - digital_staff_and_mojo
      - moj_cloud_platform
      - prisons
      - private_prisons

generic-prometheus-alerts:
  alertSeverity: hmpps-ems-cemo-ui-prod
