{{ mojSubNavigation({
  label: "Sub navigation",
  items: [{
    text: "Draft forms",
    href: "/",
    active: draftActive
  },{
    text: "Search for a form",
    href: "/search",
    active: submittedActive
  }]
}) }}
