{% set tableRows = [] %}
{% for order in orders %}
  {% set name %}
  <a class="govuk-link" aria-describedby="order-{{ order.index }}-status" href="{{ order.href }}">
    {{ order.name }}
  </a>
  {% endset %}
  {% set status %}
  <div id="order-{{ order.index }}-status">
    {% for tag in order.statusTags %}
      {% if tag.type == 'VARIATION' %}
        {% set colour = "blue" %}
      {% elif tag.type == 'SUBMITTED' %}
        {% set colour = "green" %}
      {% elif tag.type == 'FAILED' %}
        {% set colour = "red" %}
      {% elif tag.type == 'DRAFT' %}
        {% set colour = "grey" %}
      {% endif %}
      <strong class="govuk-tag govuk-tag--{{ colour }} govuk-!-margin-right-2">{{ tag.text }}</strong>
    {% endfor %}
  </div>
  {% endset %}
  {% set row = [
    {
      html: name
    }, {
      html: status
    }
  ] %}
  {% set tableRows = (tableRows.push(row), tableRows) %}
{% endfor %}
<div id="ordersList">
  {% if orders.length > 0 %}
    {{ govukTable ({
        firstCellIsHeader: false,
        head: [
          {
            text: "Name",
            classes: "govuk-!-width-two-thirds"
          },
          {
            text: "Status"
          }
        ],
        rows: tableRows
      }) }}
  {% endif %}
  {% if orders.length == 0 %}
    <p class="govuk-body">You have no draft forms</p>
  {% endif %}
  {% if next != 0 %}
    {% set nextButton = { text: 'Next', href: ''} %}
  {% endif %}
  {% set pagination %}
  {{ mojPagination({
    items: [{
      text: '1',
      href: '/page=1',
      selected: true
    }, {
      text: '2',
      href: '/page=2'

    }, {
      text: '3',
      href: '/page=3'
    }, {
      type: 'dots'
    }, {
      text: '5',
      href: '/page=5'
    }],
    results: {
      count: 30,
      from: 10,
      to: 20,
      text: 'pages'
    },
    previous: {
      text: 'Previous',
      href: ''
    },
    next: {
      text: 'Next',
      href: ''
    }
  }) }}
  {% endset %}
  {# {{ pagination | safe }} #}
</div>
