{% extends "../partials/layout.njk" %}

{% set pageTitle = applicationName + " - Search" %}
{% from "moj/components/search/macro.njk" import mojSearch %}
{% from "govuk/components/table/macro.njk" import govukTable %}

{% block content %}


  <h1 class="govuk-heading-m">Search for a submitted form</h1>


  {{ mojSearch({
    action: '#',
    method: 'get',
    input: {
      id: 'search',
      name: 'searchTerm'
    },
    hint: {
      text: 'Enter the device wearer\'s full name. For example Bob Smith.'
    },
    button: {
      text: 'Search',
      classes: "govuk-button--secondary"
    }
  }) }}

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <div id="ordersList">
    {% if emptySearch %}
	<h2 class="govuk-heading-m">You have not entered any search terms</h2>
	<p>Try searching using the device wearer's:</p>
	<ul class="govuk-list govuk-list--bullet">
	  <li>first name and surname</li>
	</ul>
    {% elif noResults %}
	<h2 class="govuk-heading-m">No results found for '{{ searchTerm }}'</h2>

	<p>Check spelling is correct.</p>

	<p>Try searching using the device wearer's full name.</p>

	<div class="govuk-warning-text">
          <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
          <strong class="govuk-warning-text__text">
            <span class="govuk-visually-hidden">Warning</span>
            <h2 class="govuk-heading-s">Can't find what you are looking for?</h2>
            If the form is not listed in the search results, it may be an emailed form so not available online.
            <br>
          </strong>
        </div>
    {% elif orders.length > 0 %}
      {{ govukTable({
	firstCellIsHeader: false,
	head: [
	  {
	    text: "Name"
	  },
	  {
	    text: "Date of birth"
	  },
	  {
	    text: "Personal ID number"
	  },
	  {
	    text: "Town or city"
	  },
	  {
	    text: "Start date"
	  },
	  {
	    text: "End date"
	  },
	  {
	    text: "Last updated"
	  }
	],
	rows: orders
	}) }}
    {% endif %}
    

{% endblock %}

