{% set detailsHtml %}
<p class="govuk-body">A personal identity number is:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>National Offender Management Information System (NOMIS)</li>
  <li>Police National Computer (PNC)</li>
  <li>Case Reference Number (CRN)</li>
  <li>Prison Number</li>
  <li>Compliance and Enforcement Person Reference (CEPR)</li>
  <li>Court Case Reference Number (CCRN)</li>

</ul>
{% endset %}

{% set showYouth = false %}

{% if user.cohort.cohort == 'PRISON' %}
  {% set showYouth = true %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    {{ search({
      action: '#',
      method: 'get',
      input: {
        id: 'search',
        name: 'searchTerm',
        value: searchTerm
      },
      label: {
        text: 'Search for a submitted form',
        classes: "govuk-!-font-weight-bold"
      },
      hint: {
        text: 'Enter the device wearer\'s full name or personal identity number. For example Bob Smith C4365JN.'
      },
      button: {
        text: 'Search',
	classes: "govuk-button--secondary"
      }
    }) }}

  </div>
</div>

<hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

<div id="ordersList">
  {% if emptySearch %}
<h2 class="govuk-heading-m">You have not entered any search terms</h2>
<p>Try searching using the device wearer's:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>first name and surname</li>
  <li>personal ID number</li>
  <li>full name and personal ID number</li>
</ul>
<p>Check spelling is correct and numbers are in the right place.</p>

{{ govukDetails({
  summaryText: "What's a personal identity number?",
  html: detailsHtml
}) }}

  {% elif noResults %}
    <h2 class="govuk-heading-m">No results found for '{{ searchTerm }}'</h2>

    <p>Check spelling is correct and numbers are in the right place.</p>

    <p>Try searching using the device wearer's personal ID number, full name or both.</p>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        <h2 class="govuk-heading-s">Can't find what you are looking for?</h2>
        If the form is not listed in the search results, it may be an emailed form so not available online.
        <br>
        <form action="/order/create" method="post" class="govuk-!-margin-top-3">
          <input type="hidden" name="_csrf" value="{{ csrfToken }}">
            {{ govukButton({
              text: "Tell us about a change to a form sent by email",
              name: "type",
              value: "VARIATION",
              classes: "govuk-button--secondary"
            }) }}
        </form>
      </strong>
    </div>

  {% elif orders.length > 0 %}

    {% if showYouth %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <p class="govuk-body">
            Showing: <span class="govuk-!-font-weight-bold">{{  user.cohort.activeCaseLoadName  }}</span>
            <a data-qa="changeCaseLoad" class="govuk-link govuk-!-margin-left-3 hmpps-text-change-case-load" href="https://digital.prison.service.justice.gov.uk/change-caseload" data-test="change-case-load-link" referrerpolicy="no-referrer-when-downgrade">
            {{ caseloadSwitcherSvg | safe }}
            Change location</a>
        </p>
      </div>
    </div>
    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
    {% endif %}

    {% set tableRows = [] %}
    {% for order in orders %}

      {% set name %}
      <a class="govuk-link" href="{{ order.href }}">
        {{ order.name }}
      </a>
      {% endset %}

      {% set row = [
        { html: name },
        { text: order.dob }
      ] %}

      {% if showYouth %}
        {% set row = (row.push({ text: order.youth }), row) %}
      {% endif %}

      {% set row = (row.push(
        { html: order.pins | join('<\br>') },
        { text: order.location },
        { text: order.startDate },
        { text: order.endDate },
        { text: order.lastUpdated }
      ), row) %}

      {% set tableRows = (tableRows.push(row), tableRows) %}
    {% endfor %}

    {% set normalHeaders = [
      { text: "Name" },
      { text: "Date of birth" },
      { text: "Personal ID number" },
      { text: "Town or city" },
      { text: "Start date" },
      { text: "End date" },
      { text: "Last updated" }
    ] %}

    {% set youthHeaders = [
      { text: "Name" },
      { text: "Date of birth" },
      { text: "Youth" },
      { text: "Personal ID number" },
      { text: "Town or city" },
      { text: "Start date" },
      { text: "End date" },
      { text: "Last updated" }
    ] %}

    {{ govukTable({
      firstCellIsHeader: false,
      head: youthHeaders if showYouth else normalHeaders,
      rows: tableRows
    }) }}

  {% else %}
    {{ govukDetails({
      summaryText: "What's a personal identity number?",
      html: detailsHtml
    }) }}
  {% endif %}
